*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    background-image: url("assets/imagenes/fondo1.jpg");
    background-size: cover;
    background-position: center center;
   }

   h4{
    text-align: center;
   
    
}
.escudo{
    max-width: 80px;
}

.escudo1{
    max-width: 80px;
    float: right;
   
}


h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  margin-bottom: 20px;
  text-align: center;
  color: white
    
}
h1 {
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    white-space: nowrap; /* Evita el salto de línea */
    animation: escribir 4s steps(60, end); /* 4 segundos de duración con 60 pasos */
  }
  
  @keyframes escribir {
    from {
      width: 0%; /* Inicia con 0 ancho, ocultando el texto */
    }
    to {
      width: 100%; /* Finaliza con el ancho completo, mostrando todo el texto */
    }
  }
  
  nav{
    background-color: #00458a;
    margin-top: -20px;
  }
  .cabecera{
    background-color: #00458a;
    
  }

  .banner{
    width: 100%;
    margin-top: 0px;
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style: none;
  }
  .link{
    
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 6);
    font-weight: 600;
    
    border-radius: 10px;
    margin-left: 100px;
    text-align: center;
}
.link:hover{
    color: rgb(117, 117, 9);
}

h2{
   color: aliceblue; 
}

#lista-carrito{
    height: 50vh;
    margin-top: 10px;
    color: aliceblue;
    padding-top: 20px;
    
}
footer{
    background-color: black;
    color:white;
    padding: 10px;
    text-align: center;
    margin-top: -5px;
}

.comprar {
    background-color: yellow;
    color: blue;
    border-radius: 5px;
    height: 60px;
    width: 130px;
    position: absolute;
    bottom: -10;
    left: 10%;
    transform: translateX(-50%);
    font-size: 20px;
    cursor: pointer;
    margin-top: -58px;
}

.comprar:hover{
  background-color: rgb(134, 134, 25);
}
@media (max-width: 768px) {
    h1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
      margin-bottom: 20px;
      text-align: center;
      color: black
      
  }
  .link{
      
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 6);
    font-weight: 600;
    
    border-radius: 10px;
    margin-left: 80px;
      text-align: center;
  }
  .link:hover{
    color: rgb(117, 117, 9);
  }
}